:root{
    --darkblue:  rgb(49, 52, 61);
    --lightblue: rgb(146, 204, 205);
    --bodytext: rgb(68, 88, 118);
}

h1{
    font-weight: 700;
    font-size: 50px;
}
h2{
    font-weight: 700;
    font-size: 30px;
}
header{
    display: flex;
    padding: 20px;
    text-align: center;
    background: var(--darkblue);
    color: var(--darkblue);
}
div h1{
    text-align: justify;
    position: relative;
    border-left: 90px solid var(--lightblue);
    padding: 15px;
    background-color: var(--lightblue);
    left: -50px;
    
}

nav ul li{
    font-weight: 600;
    font-size: 200%;
    padding: 25px;
    display: inline-block;
    color: var(--lightblue);
}
a{
    color: var(--lightblue);
}
body{
    color: var(--bodytext);
    
}
.link{
    margin-left: auto;
    
}
.Landscape{
    position: relative;
    text-align: center;
    color: var(--darkblue);
}
.subtitle{
    display: block;
    position: absolute;
    padding: 10px;
    top: 30%;
    right: 5%;
    z-index: 100;
    font-size: 30px;
    background-color:var(--lightblue) ;
}
.about_div{
    width: 100%;
}
.nav_header{
    display: inline-block;
    padding-top: 1%;
    text-align: right;
    float: left;
    width: 15%;
    margin-right: 1%;
}
.about_main{
    width: 100%;
    padding-bottom: 1%;
}
.about_text{
    margin-top: 1%;
    width: auto;
    align-items: center;
    padding: 2%;
    border-left: solid var(--bodytext) 10px;
    overflow: hidden;
}
#Work{
    width: auto;
    align-items: center;
    padding: 2%;
    border-left: solid var(--bodytext) 10px;
    overflow: hidden;
}
#big{
    width: 100%;
}
.products {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
.card {
    position: relative;
    background-color: var(--lightblue);
    border-width: 1px;
    margin: 5px;
    padding: 5px;
    flex: 0 0 400px;
  }
.caption{
    padding: 1%;
    position: absolute;
    bottom: 20%;
    z-index: 1000;
    background-color: var(--lightblue);
}
@media screen and (max-width: 800px){
    .nav_header{
        width: 100%;
        text-align: center;
    }
    
}